<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!--
	<packageSources>
		<add key="l52abp" value="https://code.52abp.com/api/v4/projects/103/packages/nuget/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<l52abp>
			<add key="username" value="l52abpsource99" />
			<add key="cleartextpassword" value="987hCM6W2hH9MkxysGB_" />
		</l52abp>
	</packageSourceCredentials>
	-->
</configuration>
